.filter-cont{
    height: 50px;
    background-color:beige;
}

.product-cont{
    height: 100%;
    width: 100%;
    background-color: gainsboro;
}

img{
    width: 300px;
    height: 300px;
}

.products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    display: flex;
    justify-content: center;
    padding :50px;
}

.prod{
    margin:12px;
    font-family: Georgia, serif	;
    .title{
        font-size: 15px;
        font-weight: bold;
        list-style-type: none;
        padding: 5px 0px;
    }

    .price{
        font-size: 12px;
        font-weight: bold
    }

}

.details-cont{
    padding: 10px;
}



a:-webkit-any-link{
    text-decoration:none;    
    color: rgb(20, 19, 19);

}

ul{
    margin: 0;
}