.footer-text {
  font-size: 11px; /* Exemple de taille de police */
  font-family: Arial, sans-serif; /* Exemple de police */
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.forMobile{
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.padding-cont{
  padding: 10px;
  padding-top:2px;
}